
/* RESET */
*,
::before,
::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Oswald';
    src: url('./assets/fonts/Oswald-VariableFont_wght.ttf');
}

:root{
    --font-body: 'Oswald', sans-serif;
    --red: #B32A32;
    --blue: #3F56F3;
    --yellow: #F0A632;
    --green: #2D9415;
    --white: #f5f5f5;
    --beige: #D9CAAD;
    --black: #000103;

    --background-color: var(--white);
    --foreground-color: var(--black);
}

body {
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin: 0;
    padding: 0;
}

.button {
    --_button-background-color: var(--button-background-color, var(--beige));
    --_button-font-color: var(--button-font-color, var(--black));
    --_button-hover-background-color: var(--button-hover-background-color, var(--_button-background-color));
    --_button-hover-font-color: var(--button-hover-font-color, var(--_button-font-color));

    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        z-index: 10;
        width: 50px;
        transform: rotate(-15deg) translate(25px, 5px);
        transition: all 0.2s ease-in-out;
    }

    :is(button, a) {
        height: 45px;
        width: 145px;
        background-color: var(--_button-background-color);
        cursor: pointer;
        border: var(--black);
        padding: 10px 20px;
        font: var(--font-body);
        font-weight: 600;
        color: var(--_button-font-color);;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        img {
            transform: rotate(-10deg) translate(25px, 5px) scale(1.1);
            transition: transform 0.2s;
        }

        :is(button, a) {
            /* background-color: var(--yellow);
            color: var(--white); */
            transform: scale(1.05);
            color: var(--_button-hover-font-color);
            background-color: var(--_button-hover-background-color);
        }
    }
}

.button.blue {
    --button-background-color: var(--blue);
    --button-hover-background-color: var(--yellow);
    --button-font-color: var(--white);
    --button-hover-font-color: var(--black);
}