
/* RESET */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

@font-face {
    font-family: 'Oswald';
    src: url('./assets/fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
    size-adjust: 110%;
}

:root{
    --font-title: 'Oswald', sans-serif;
    --font-text: 'Ubuntu', sans-serif;
    --red: #A03635;
    --light-red: #c35c5a;
    --blue: #3B6BDE;
    --light-blue: #4F97E8;
    --yellow: #F0A632;
    --green: #2D9415;
    --white: #f5f5f5;
    --light-beige: #f4ecde;
    --beige: #eddab9;
    --black: #000103;

    --background-color: var(--white);
    --foreground-color: var(--black);
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-text);
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin: 0;
    line-height: 1.4;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-title);
}

header {
    padding: 50px 0;
    background: url(./assets/images/bg_deco.png) no-repeat center top/cover;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--beige) ;
}
header h1 {
    font-size: 10rem;
    color: var(--white);
    filter: drop-shadow(6px 10px 4px rgba(0, 0, 0, 0.9));
    text-align: center;
    margin: 0;
}
header p {
    text-align: center;
    max-width: 50%;
}

section {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-block: 40px;
    padding-inline: max(2rem, min(20rem, 15%));
    text-align: center;
    overflow: clip;

    &.legible-content > * {
        background-color: rgb(from var(--background-color) r g b / 0.8);
        backdrop-filter: blur(5px);
        border-radius: 10px;

        &:where(h1, h2, h3, h4, h5, h6) {
            padding: 0px 15px;
            margin: -0px -15px;
        }

        &:where(p) {
            padding: 10px 15px;
            margin: -10px -15px;
        }

        &:where(.button) {
            padding: 15px 15px;
            margin: -15px -15px;
        }
    }
}

h2 {
    font-size: 2.5rem;
}

.button {
    --_button-background-color: var(--button-background-color, var(--beige));
    --_button-font-color: var(--button-font-color, var(--black));
    --_button-hover-background-color: var(--button-hover-background-color, var(--_button-background-color));
    --_button-hover-font-color: var(--button-hover-font-color, var(--_button-font-color));
    --_icon-size: 50px;

    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        opacity: 1;
        z-index: 10;
        width: var(--_icon-size);
        position: absolute;
        top: 50%;
        translate: calc(var(--_icon-size) / 2 - 50%) -50%;
        rotate: z -15deg;
        transition: all 0.2s ease-in-out;
    }

    :is(button, a) {
        min-height: 45px;
        min-width: 145px;
        background-color: var(--_button-background-color);
        cursor: pointer;
        border: var(--black);
        padding: 10px 35px;
        margin-left: calc(var(--_icon-size) / 2);
        font-family: var(--font-title);
        font-weight: 600;
        color: var(--_button-font-color);;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        img {
            rotate: z -10deg;
            scale: 1.1;
            transform: translate(1px, 1px);
        }

        :is(button, a) {
            transform: scale(1.05);
            color: var(--_button-hover-font-color);
            background-color: var(--_button-hover-background-color);
            box-shadow: var(--black) 4px 4px ;
        }
    }
}

.hero-buttons{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}

.button.red {
    --button-background-color: var(--light-red);
    --button-hover-background-color: var(--red);
    --button-hover-font-color: var(--white);
}
.button.blue {
    --button-background-color: var(--light-blue);
    --button-hover-background-color: var(--blue);
    --button-hover-font-color: var(--white);
}

section#jouer {
    color: white;

    .rules {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;

        p {
            flex: 1 1 auto;
            max-width: 500px;
        }

        .rules-link {
            font-style: italic;
        }

        img {
            flex: 0 1 auto;
            min-width: 0;
            max-width: 100%;
        }
    }

    .pictograms {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .pictogram {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 75px;
        aspect-ratio: 1;
        border: 2px solid black;
        border-radius: 10%;
        background-color: white;
        color: black;

        img {
            height: 35px;
            margin-bottom: -2px;
            user-select: none;
            pointer-events: none;
        }

        span {
            font-size: 1em;
            font-weight: bold;
        }
    }
}

section#feedback {
    --background-color: #e6effd;
}

section#whatsnext {
    --background-color: var(--beige);
}

.background-1 {
    position: absolute;
    inset: 0;
    perspective: 200;
    perspective-origin: center;
    overflow: clip;
    z-index: -1;
    background-color: var(--beige);
    filter: blur(1px);

    @media (prefers-reduced-motion: reduce) {
        --mouseX: 0 !important;
        --mouseY: 0 !important;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--beige);
        opacity: 0.2;
    }

    img {
        position: absolute;
        width: min(120px, 20dvw);
        left: calc(var(--x) * 100%);
        top: calc(var(--y) * 100%);
        transform:
            translate(-50%, -50%)
            translateZ(calc(var(--z) * 100px))
            scale(calc(1.5 - var(--z)))
            translate(
                calc(var(--mouseX, 0) * (1 - var(--z)) * 50px),
                calc(var(--mouseY, 0) * (1 - var(--z)) * 50px)
            )
            rotateZ(calc(var(--rz) * 360deg))
            rotateY(calc(var(--ry) * 40deg))
            rotateX(calc(var(--rx) * 40deg))
            ;
        z-index: calc(var(--z) * -100000000);
        filter:
            brightness(calc(0.7 + var(--z) * 0.3))
            grayscale(calc(var(--z) * 0.5))
            blur(calc(pow((var(--z) - 0.5) * 2, 2) * 5px));
    }
}


@keyframes play-background-2 {
    from {
        background-position-x: 0px, 400px;
    }
    to {
        background-position-x: var(--background-width), calc(400px - var(--background-width));
    }
}

.background-2 {
    --background-ratio: 12.5;
    --background-height: 250px;
    --background-width: calc(var(--background-height) * var(--background-ratio));
    position: absolute;
    inset: 0;
    overflow: clip;
    z-index: -1;
    /* background-color: var(--blue); */

    .cards {
        position: absolute;
        inset: 0;
        background-image:
            url('assets/images/background-2.png'),
            url('assets/images/background-2-flipped.png');
        background-size: auto var(--background-height);
        animation: play-background-2 infinite 200s linear;
        transform: rotateZ(-2deg) scale(1.1);

        @media (prefers-reduced-motion: reduce) {
            animation: none;
            background-position-x: 0px, 1550px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--blue);
        opacity: 0.86;
    }
}


.background-3 {
    position: absolute;
    inset: 0;
    overflow: clip;
    z-index: -1;
    background-color: var(--background-color);

    &::before {
        content: '';
        position: absolute;
        inset: -24rem;
        background-image: url('assets/images/background-3.png');
        background-repeat: repeat;
        background-size: min(25dvw, 150px);
        transform: rotate(-4deg) scale(1.4);
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--background-color);
        opacity: 0.7;
    }
}
