
/* RESET */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Oswald';
    src: url('./assets/fonts/Oswald-VariableFont_wght.ttf');
}

:root{
    --font-body: 'Oswald', sans-serif;
    --red: #A03635;
    --light-red: #c35c5a;
    --blue: #3B6BDE;
    --light-blue: #4F97E8;
    --yellow: #F0A632;
    --green: #2D9415;
    --white: #f5f5f5;
    --light-beige: #f4ecde;
    --beige: #D9CAAD;
    --black: #000103;

    --background-color: var(--white);
    --foreground-color: var(--black);
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin: 0;
}
header {
    padding: 50px 0;
    background: url(./assets/images/bg_deco.png) no-repeat center top/cover;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--beige) ;
}
header h1 {
    font-size: 10rem;
    color: var(--white);
    filter: drop-shadow(6px 10px 4px rgba(0, 0, 0, 0.9));
    text-align: center;
    margin: 0;
}
header p {
    text-align: center;
    max-width: 50%;
}

section {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-block: 40px;
    padding-inline: max(2rem, min(20rem, 15%));
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

.button {
    --_button-background-color: var(--button-background-color, var(--beige));
    --_button-font-color: var(--button-font-color, var(--black));
    --_button-hover-background-color: var(--button-hover-background-color, var(--_button-background-color));
    --_button-hover-font-color: var(--button-hover-font-color, var(--_button-font-color));

    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        opacity: 1;
        z-index: 10;
        width: 50px;
        transform: rotate(-15deg) translate(25px, 5px);
        transition: all 0.2s ease-in-out;
        filter: drop-shadow(0px 0px rgba(255, 255, 255, 1));
    }

    :is(button, a) {
        height: 45px;
        min-width: 145px;
        background-color: var(--_button-background-color);
        cursor: pointer;
        border: var(--black);
        padding: 10px 35px;
        font: var(--font-body);
        font-weight: 600;
        color: var(--_button-font-color);;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        img {
            transform: rotate(-10deg) translate(25px, 5px) scale(1.1);
            transition: transform 0.2s;
        }

        :is(button, a) {
            /* background-color: var(--yellow);
            color: var(--white); */
            transform: scale(1.05);
            color: var(--_button-hover-font-color);
            background-color: var(--_button-hover-background-color);
            box-shadow: var(--black) 4px 4px ;
        }
    }
}

.hero-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.button.red {
    --button-background-color: var(--light-red);
    --button-hover-background-color: var(--red);
    --button-hover-font-color: var(--white);
}
.button.blue {
    --button-background-color: var(--light-blue);
    --button-hover-background-color: var(--blue);
    --button-hover-font-color: var(--white);
}

section#jouer {
    position: relative;
    color: white;

    .background {
        position: absolute;
        inset: 0;
        perspective: 200;
        perspective-origin: center;
        overflow: clip;
        z-index: -1;
        background-color: #e5c9c5;
        filter: brightness(0.8) grayscale(0.2) contrast(1.1) blur(1px);

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--light-red);
            opacity: 0.3;
        }

        img {
            position: absolute;
            width: 200px;
            left: calc(var(--x) * 100%);
            top: calc(var(--y) * 100%);
            transform:
                translate(-50%, -50%)
                translateZ(calc(var(--z) * 100px))
                scale(calc(1.5 - var(--z)))
                translate(
                    calc(var(--mouseX, 0) * (1 - var(--z)) * 50px),
                    calc(var(--mouseY, 0) * (1 - var(--z)) * 50px)
                )
                rotateZ(calc(var(--rz) * 360deg))
                rotateY(calc(var(--ry) * 40deg))
                rotateX(calc(var(--rx) * 40deg))
                ;
            z-index: calc(var(--z) * -100000000);
            filter:
                brightness(0.8) grayscale(0.2)
                blur(calc(pow((var(--z) - 0.5) * 2, 2) * 5px));
        }
    }

    .rules {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

        p {
            flex: 1 1 auto;
            max-width: 500px;
        }

        img {
            flex: 0 1 auto;
            min-width: 0;
            max-width: 100%;
        }
    }

    .pictograms {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .pictogram {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 75px;
        aspect-ratio: 1;
        border: 2px solid black;
        border-radius: 10%;
        background-color: white;
        color: black;

        img {
            height: 35px;
            margin-bottom: -2px;
        }

        span {
            font-size: 1em;
            font-weight: bold;
        }
    }
}

section#feedback {
    background-color: #dbecfa;
}

section#whatsnext {
    background-color: var(--light-beige);
}
